.arrow-top {
    position: absolute;
    right: 45%;
    z-index: 100;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    filter: brightness(0.2);
    opacity: 0.5;
    background: url('../assets/icons/arrow-top.svg') center/contain no-repeat;
    transition: 1.2s;
    transition-timing-function: cubic-bezier(0.5, 1.5, 0.55, 1);
    cursor: pointer;
    @media (max-width: 768px) {
      right: 3rem;
    }
    &:hover {
      opacity: 0.7;
      transition: 0.2s;
    }
  }