.boards-switcher {
  display: flex;
  gap: 0.5rem;
  position: relative;
  z-index: 0;
}
.board-radio-button {
  position:absolute;
  z-index: -50;
  opacity:0;
  &:checked + .label-button__radio{
    background-color: $color4;
    color: $color1;
  }
}
.label-button__radio {
  display: flex;
  background-color: rgb(76, 195, 33);
  border-radius: 5px 5px 0px 0px;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  transition: 0.3s;
  &::before {
    background: url('../assets/icons/boards-icon.svg') center/contain no-repeat ;
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    right: 87px;
    z-index: 1;
    opacity: 0.8;
  }
  
  &:hover {
    filter: brightness(1.5);
    transform: scale(1.1);
  }
}

.boards-switcher__button-add {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 5px 5px 0px 0px;
  transition: 0.3s;
  background-color: $color3;
  &:hover {
    filter: brightness(1.9);
    transform: scale(1.1);
  }
}