.boards-container{
    margin: 0 auto;
    width: 100%;
    flex-grow: 1;
    display: flex;
.board{
    flex-grow: 1;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    max-width: 90%;
    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(44, 137, 208);
        padding: 0.5rem 0 0.5rem 0;
    }
    &__header-title{
        color: white;
        //&::before{
            //background: url('../../assets/icons/boards-icon.svg')center/contain no-repeat;
        //}
    }
    &__menu-button{
        &::before{
            content:'***';
            //background: url('../../assets/icons/menu-icon.svg')center/contain no-repeat;
    }
    }
    &__panels-container{
        flex-grow: 1;
        display: flex;
        gap: 1rem;
        justify-content: space-evenly;
    }
    .panel{
        flex-grow: 1;
        background-color: rgba(225, 225, 225, 0.5);
    }
    
}
}
