.boards-container {
    border: 1px solid #da2626;
    margin: 0 auto;
    width: 100%;
    flex-grow: 1;
    display: flex;

    .board {
        flex-grow: 1;
        margin: 0 auto;
        display: flex;
        gap: 0.5rem;
        flex-direction: column;

        &__header {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            background-color: rgb(44, 137, 208);
        }

        &__header-title {
            position: relative;
            color: white;
            padding-left: 1.7rem;
            font-size: 1.5rem;
        }
        
        &__header-title::before {
            content: '';
            position: absolute;
            top:0.5rem;
            left: 0;
            width: 1rem;
            height: 1rem;

            background: url('../assets/icons/boards-icon.svg') center/contain no-repeat;
        }

        &__menu-button {
                width: 1.5rem;
                height: 1rem;
                background: url('../assets/icons/menu-icon.svg') center/contain no-repeat;
        }

        &__panels-container {
            flex-grow: 1;
            display: flex;
            gap: 1rem;
            justify-content: space-evenly;
        }
    }
}