.boards-container {
    margin: 0 auto;
    width: 100%;
    flex-grow: 1;
    display: flex;

    .board {
        flex-grow: 1;
        margin: 0 auto;
        display: flex;
        gap: 0.5rem;
        flex-direction: column;

        &__header {
            position: relative;
            display: flex;
            gap: 1rem;
            align-items: center;
            justify-content: space-between;
            padding: 0.5rem 1rem;
            background-color: $color1;
        }

        &__header-title {
            position: relative;
            color: white;
            padding-left: 1.7rem;
            font-size: 1.2rem;
        }
        .divider{
            flex-grow: 1;
        }
        &__header-title::before {
            content: '';
            position: absolute;
            top:0.2rem;
            left: 0;
            width: 1rem;
            height: 1rem;

            background: url('../assets/icons/boards-icon.svg') center/contain no-repeat;
            opacity: 0.8;
        }

        .board__settings-button, .board__delete-button{
            width: 20px;
            height: 20px;
          transition: 0.3s;
          opacity: 0.5;
          cursor: pointer;
          &:hover{
            opacity: 1;
          }
        }

        .board__settings-button{
            background: url('../assets/icons/settings-icon.svg') center/contain no-repeat;
        }
        .board__delete-button{
            background: url('../assets/icons/basket-icon.svg') center/contain no-repeat;
        }



        &__panels-container {
            flex-grow: 1;
            display: flex;
            gap: 1rem;
            justify-content: space-evenly;
        }
    }
}