.modal-edit__overlay{
    position: absolute;
  top:0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  padding-top: 2rem;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-edit__container{
    
    padding: 2rem;
    max-height: 85%;
    width: 30rem;
    margin: 0 auto;
    border-radius: 5px;
    padding-bottom: 1rem;
    border: 1px solid $color1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    box-shadow:0 0 0.4rem 0.4rem rgba(10, 69, 106, 0.241) ;
    background-color: rgba(0, 52, 150, 0.139);
    border-radius: 1rem;
}
.modal-edit__title{
    border: none;
    background: none;
    outline: none;
    color: white;
    margin-bottom: 1rem;
    &::placeholder{
        color: white;
    }
    &:focus{
        background-color: rgba(240, 248, 255, 0.3);
        border-radius: 10px;
        color: white;
    }
}

.modal-edit__description{
    border: none;
    background: none;
    outline: none;
    color: white;
    resize: none;
    padding-bottom: 3rem;
    margin-bottom: 1rem;
    &::placeholder{
        color: white;
    }
    &:focus{
        background-color: rgba(240, 248, 255, 0.3);
        border-radius: 10px;
        color: white;
    }
}

.modal-edit__footer{
    display: flex;
    justify-content: space-between;
}
.modal-edit__buttons{
    flex-grow: 0.2;
    display: flex;
    gap: 0.5rem;
    justify-content: space-evenly;  
}
.modal-edit__cancel-btn{
    background-color: $color1;
  color: #fff;
  font-size: 0.8rem;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  &:hover {
    background-color: $color1-opacity;
}
}
.modal-edit__confirm-btn{
    background-color: $color1;
    color: #fff;
    font-size: 0.8rem;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    &:hover {
      background-color: $color1-opacity;
}
}
.users-edit__select {
    flex-grow: 1;
    border: 2px solid #7d7d7d;
    border-radius: 3px;
    font-size: 1rem;
    padding: 0.3rem;
    background-color: #fff;
    color: #1c1c1c;
    cursor: pointer;
    &:hover {
      border-color: $color1;
    }
  }