.modal-edit__container {
    width: 30rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media (max-width: 768px) {
        width: 100vw;
        padding: 0 1rem;
    }

    .modal-edit__message{
        color:#fff;
        font-size: 1.2rem;
        text-align: center;
    }

    .modal-edit__card-info {
        background-color: #e2e2e2;
        border-radius: 1rem;
        padding: 2rem;
        display: flex;
        gap: 2rem;
        flex-direction: column;

        @media (max-width: 768px) {
            padding: 1rem;
        }

        .modal-edit__title{
            font-weight: bold;
        }

        .modal-edit__title, .modal-edit__description, .users-edit__select {
            font-size: 1.2rem;
            padding: 0.5rem 0.5rem;
            border: 1px solid #a6a6a6;
            border-radius: 5px;
            color: #151515;
            cursor:text;

            &:focus {
                border-color: #151515;
                background-color: #f2f2f2;
            }

            &:hover {
                border-color: #151515;
            }

            &::placeholder {
                color: #878787;
            }
        }

        .modal-edit__description {
            
            resize:none;
            min-height: 10rem;
            font-size: 1rem;
            &::-webkit-scrollbar {
                width: 0;
            }

        }

        .users-edit__select {
            margin-right: auto;
            width: 100%;

            cursor: pointer;
            @media (max-width: 768px) {
                font-size: 1rem;
                text-align: center;
            }
            
        }
    }
    .modal-edit__footer {
        padding: 0 2rem;
        display: flex;
        gap: 1rem;
        justify-content: space-between;
    }
}


