.main-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    min-width: 400px;
    min-height: 500px;
    height: 100vh;
    margin: 0 auto;
    padding: 2rem 1rem;
    .main-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1rem;
        &__logo {
            width: 10rem;
        }
        .clock {
            border: 1px solid rgb(44, 137, 208);
            padding: 0.5rem 1rem;
            border-radius: 1.5rem;
            color: #fff;
        }
    }
}