.main-wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 60%;
    min-width: 700px;
    min-height: 500px;
    height: 100vh;
    margin: 0 auto;
    padding: 1rem 0 2rem 0;
    background-color: rgba(0,0,0,0.5);
    .main-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1rem;
        &__logo {
            width: 7rem;
        }
        .clock__info {
            text-align: center;
            width: 5rem;
            padding: 0.5rem;
            font-size: 0.8rem;
            border: 2px solid $color1;
            border-radius: 1.5rem;
            color: #fff;
            background-color: rgba(0,0,0,0.2);
        }
    }
}