.panel {
    width: calc(33% - 0.5rem);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__header {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        .panel__title, .panel__count{
            color:#fff;
            font-size: 0.8rem;
        }
    }

    &__container {
        flex-grow: 1;
        height: 100px;
        padding: 0.7rem;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 0;
        }
        background-color: rgba(255,255,255, 0.2);
       
    }

    #panel-container-todo:hover{
        background-color: rgb(153, 153, 153);
        transition: 0.5s;
    }
    #panel-container-progress{
        background-color: rgba(255,255,255, 0.2);
        transition: 0.3s;
        &:hover{
        background-color: rgba(255,255,255, 0.4);
        opacity: 1;
        }
    }

    #panel-container-done{
        background-color: $color1-opacity;
        transition: 0.3s;

        &:hover{
        background-color: $color1-opacity-more;
        }
    }

    &__button {
        padding: 0.5rem 0;
        border-radius: 3px;
    }
    #panel-todo-button, #panel-done-button{
        background-color: $color1;
        color: #fff;
        transition: 0.3s;
        cursor: pointer;
        &:hover{
            background-color: $color1-opacity;

        }
    }
}