.splash{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;

    .splash__container{
        position: relative;
        width: 22rem;
        display: flex;
        justify-content: center;
        align-items: baseline;
        margin: 0 auto;

        .tro{
            position: relative;

            width: 6.2rem;
            height: 6.5rem;
            background: url('../assets/images/tro.svg') center/contain no-repeat;

            animation-name: tro;
            animation-iteration-count: infinite;
			animation-timing-function: cubic-bezier(0.5, 1.5, 0.55, 1);
			animation-duration: 5s;
        }

        .tro::before {
			position: absolute;
            content: '';
			top: 50%;
			left: 1rem;
            z-index: 150;
			width: 2.5rem;
			height: 1.8rem;
			border-radius: 3px;
			
			animation-name: card;
			animation-iteration-count: infinite;
			animation-timing-function: cubic-bezier(0.5, 1.5, 0.55, 1);
			animation-duration: 5s;
			
		}

        .llo{
            position: relative;
            width: 8rem;
            height: 7rem;
            background: url('../assets/images/llo.svg') center/contain no-repeat;

            animation-name: llo;
			animation-iteration-count: infinite;
			animation-timing-function: cubic-bezier(0.5, 1.5, 0.55, 1);
			animation-duration: 5s;
        }
        .lo{
            width: 5rem;
            height: 7rem;
            background: url('../assets/images/lo.svg') center/contain no-repeat;

            animation-name: lo;
			animation-iteration-count: infinite;
			animation-timing-function: cubic-bezier(0.5, 1.5, 0.55, 1);
			animation-duration: 5s;
        }
    }

    .splash__title{
        position: relative;
        color: rgb(44, 137, 208);
        margin: 0 auto;
        .letter{
            position: absolute;
            top:0;
            left:0;
            padding: 0 0.2rem;
            position: relative;
            transition: 1s;
			animation-iteration-count: infinite;
            animation-name: letter;
            

			animation-duration: 5s;
            &:hover{
                transform: scale(1.3);
                cursor: pointer;
            }
        }
        
    }
    .copy-right{
        position: relative;
        color:#fff;
        font-size: 0.8rem;
        padding-top: 1rem;
        color: #fff;

        .bug {
            position: absolute;
            content: '';
            top: 1rem;
            left: 2.5rem;
            z-index: 5;
            width: 2.5rem;
            height: 3rem;
            transition: 2s;

            animation-name: bug;
			animation-iteration-count: infinite;
			animation-timing-function: cubic-bezier(0.5, 1.5, 0.55, 1);
			animation-duration: 0.3s;
    
            background: url('../assets/images/bug-icon.svg') center/contain no-repeat;
            &:hover{
                opacity: 0;
                transform: scale(3) rotate(360deg);
                transition: 0.3s;
            }
        }
    }
}

@keyframes bug {
    0% {
        top: 1rem;
    }
	50% {
        top: 0.6rem;
	}
    100% {
        top: 1rem;
	}
}

@keyframes letter {
    80% {
        top: 0;
    }
	83% {
        top: 1rem;
	}
    86% {
        top: 0;
	}
}




@keyframes tro {
	
	3% {
		transform: scale(0.8);
        opacity: 0.8;
        background: url('../assets/images/tro-blue.svg') center/contain no-repeat;

	}
    5% {
		transform: scale(1.5);
        opacity: 0.3;

	}
    20% {
		transform: scale(1);
		top: 0;
        opacity: 1;
        background: url('../assets/images/tro-blue.svg') center/contain no-repeat;

	}
    30% {
        background: url('../assets/images/tro.svg') center/contain no-repeat;

	}

}
@keyframes llo {
   
    30% {
        background: url('../assets/images/llo.svg') center/contain no-repeat;
	} 
    35% {
        background: url('../assets/images/llo-blue.svg') center/contain no-repeat;
	}
    37% {
		transform: scale(1);
		left: 0;
        opacity: 1;

	}

    38% {
		transform: scale(0.9);
		left: -0.5rem;
        background: url('../assets/images/llo-blue.svg') center/contain no-repeat;

	}
	39% {
		transform: scale(1);
		left: 0.5rem;
        opacity: 0.8;
	}
	40% {
		transform: scale(0.9);
		left: -0.5rem;
        opacity: 0.8;
	}
	41% {
		transform: scale(1);
		left: 0.5rem;
        opacity: 0.8;
	}
    42% {
		transform: scale(0.9);
		left: -0.5rem;
        opacity: 0.8;
	}
    43% {
		transform: scale(1);
		left: 0;
        opacity: 1;
        background: url('../assets/images/llo-blue.svg') center/contain no-repeat;

	}
}

@keyframes lo {
    55% {
		transform: scale(1);
		left: 0;
        opacity: 1;
        background: url('../assets/images/lo.svg') center/contain no-repeat;
	}

    65% {
		transform: scale(0.7) rotate(-15deg);
        opacity: 0.5;
        background: url('../assets/images/lo-blue.svg') center/contain no-repeat;
	}
	70% {
		transform: scale(0.7) rotate(-15deg);
        opacity: 0.5;
	}
	
	73% {
		transform: scale(1) rotate(0);;
		left: 0.5rem;
        opacity: 1;
        background: url('../assets/images/lo-blue.svg') center/contain no-repeat;
	}
}

@keyframes card {
	20% {
		transform: scale(3.5) rotate(340deg);
		top: -5rem;
		left: -8rem;
		z-index: 1000;
        background: url('../assets/images/card-todo.svg') center/contain no-repeat;

	}
	40% {
		transform: scale(1.5) rotate(180deg);
		top: -1rem;
        left: 9rem;
        background: url('../assets/images/card-progress.svg') center/contain no-repeat;

	}
	70% {
		top: 2rem;
        left: 16rem;
		transform: scale(2);
        background: url('../assets/images/card-done.svg') center/contain no-repeat;
	}
	100% {
		top: -5rem;
        left:45rem;
        background: url('../assets/images/card-todo.svg') center/contain no-repeat;
		z-index: 1000;
	}
}