.task-card {
  display: flex;
  background-color: #fff;
  border-radius: 0.5rem;
  margin-bottom: 0.7rem;
  overflow: hidden;
  max-width: 100%;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  transition: 0.3s;

  &:hover {
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);
    transform: scale(1.03);
    z-index: 100;
  }

  &--done {
    background-color: #c0c0c0;
    color: #6a6a6a;
    .task-card__title {
      text-decoration: line-through;
    }
  }
 

  &__info-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;

    .task-card__title {
      font-size: 0.9rem;
      font-weight: 700;
    }

    .taskCard__description {
      font-size: 0.8rem;
    }
    .task-card__footer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 0.5rem;
      font-size: 0.7rem;

      .task-card__user-container {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        .task-card__user-img-container {
          flex-shrink: 0;
          position: relative;
          overflow: hidden;
          width: 30px;
          height: 30px;
          border-radius: 15px;
          .task-card__user-img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 30px;
            height: 30px;
            object-fit: cover;
          }
        }

        .task-card__user-name {
          font-size: 0.8rem;
          font-weight: bold;
        }
      }
      .task-card__time {
        font-size: 0.7rem;
      }
    }
  }

  .task-card__buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    padding: 0.5rem 0;
    min-width: 2rem;
    border-left: 1px solid #b4b4b4;

    .card__button {
      width: 0.75rem;
      height: 0.75rem;
      cursor: pointer;
      transition: 0.3s;
      filter: brightness(0.7);

      &:hover {
        filter: brightness(0.5);
        transform: scale(1.1);
      }
    }
    .task-card__container-divider {
      flex-grow: 1;
    }

    .card__button-delete {
      background: url('../assets/icons/delete-button-icon.svg') center/contain no-repeat;
    }
    .card__button-edit {
      width: 1.05rem;
      height: 1.05rem;
      background: url('../assets/icons/edit-button-icon.svg') center/contain no-repeat;
    }
    .card__button-move-forward {
      width: 1.2rem;
      height: 1.2rem;
      background: url('../assets/icons/move-forward-icon.svg') center/contain no-repeat;
    }
    .card__button-move-back {
      width: 1.2rem;
      height: 1.2rem;
      background: url('../assets/icons/move-back-icon.svg') center/cover no-repeat;
    }
  }

  &--progress {
    .task-card__buttons-container {
      .card__button {
        filter: brightness(1);
        opacity: 0.5;
        &:hover {
          filter: brightness(1);
          opacity: 1;
        }
      }
    }
  }
}
