.users-edit-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.9);

  @media (max-width: 768px) {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  .users-edit {
    width: 30rem;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid $color1;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 6vh;

    @media (max-width: 768px) {
      width: auto;
      height: 80vh;
      border: none;
    }
    @media (max-height: 420px) {
      border: none;
    }

    .users-edit__header {
      position: relative;
      width: 100%;
      background-color: $color1;
      font-size: 1.2rem;
      padding: 1rem 1rem 1rem 2.5rem;
      color: #fff;

      @media (max-height: 420px) {
        display: none;
      }
      @media (max-width: 768px) {
        padding: 0.5rem 1rem 0.5rem 2.5rem;
      }

      &::before {
        content: '';
        position: absolute;
        top: 1rem;
        left: 1rem;
        width: 1rem;
        height: 1rem;
        background: url('../assets/icons/boards-icon.svg') center/contain no-repeat;
      }
    }

    .users-edit__add-form {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      padding: 1rem 0;

      @media (max-width: 768px) {
        padding: 0.5rem 0;
        gap: 0.5rem;
      }
      .users-edit__select {
        flex-grow: 1;
        border: 2px solid transparent;
        border-radius: 3px;
        font-size: 1rem;
        padding: 0.3rem;
        background-color: #fff;
        color: #1c1c1c;
        cursor: pointer;
        &:hover {
          border-color: $color1;
        }
      }
    }

    .users-edit__container {
      list-style-type: none;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.7);
      min-height: 6rem;
      max-height: 50vh;
      overflow: auto;
      &::-webkit-scrollbar {
        width: 0;
      }
      padding: 0 1rem;
      display: flex;
      flex-direction: column;

      @media (max-width: 768px) {
        flex-grow: 1;
        min-height: 6rem;
        max-height: none;
      }

      .user-add__list-item {
        display: flex;
        gap: 1rem;
        border: 1px solid transparent;
        border-bottom-color: #4d4d4d;
        padding: 1rem 0;
        .user-add__image-container {
          flex-shrink: 0;
          position: relative;
          overflow: hidden;
          width: 5rem;
          height: 5rem;
          border-radius: 3px;
          transition: 0.3s;
          .user-add__list-image {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 5rem;
            height: 5rem;
            object-fit: cover;
          }
        }
        .user-add__name {
          font-weight: bold;
          font-size: 1rem;
          padding-bottom: 0.3rem;
        }
        .user-add__job {
          font-size: 0.8rem;
        }
        .delete-user-button {
          flex-shrink: 0;
          width: 0.7rem;
          height: 0.7rem;
          margin-left: auto;
          background: url('../assets/icons/delete-button-icon.svg') center/contain no-repeat;
          cursor: pointer;
          transition: 0.2s;
          filter: brightness(0.5);

          &:hover {
            filter: brightness(0.3);
          }
        }
      }
    }

    .users-edit__buttons-container {
      display: flex;
      gap: 1rem;
      padding: 1rem;
      justify-content: center;
      flex-wrap: wrap;
      @media (max-width: 768px) {
        padding: 0.5rem 1rem;
      }

      .modal__button {
        background-color: $color1-opacity;
        color: #fff;
        font-size: 1rem;
        padding: 0.5rem 0.8rem;
        cursor: pointer;
        border-radius: 5px;
        transition: 0.3s;
        &:hover {
          background-color: $color1;
        }
      }
    }
  }
}
