.users-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    padding: 0 1rem;
    border: 1px solid transparent;
    border-right-color: rgba(255,255,255,0.5);
    .user-bar__avatar-container {
      position: relative;
      overflow: hidden;
      width: 30px;
      height: 30px;
      border-radius: 15px;
      transition: 0.3s;
      &:hover{
        transform: scale(1.3);
      }
      .user-bar__avatar {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 30px;
        object-fit: cover;
      }
    }

    .users-bar__button{
        width: 25px;
        height: 25px;
        background: url('../assets/icons/users-icon.svg') center/contain no-repeat;
      transition: 0.3s;
      opacity: 0.5;
      cursor: pointer;
      &:hover{
        opacity: 1;
      }
    }
}