$color1:rgb(44, 137, 208);
$color1-opacity: rgba(44, 137, 208, 0.5);
$color1-opacity-more:rgba(44, 137, 208, 0.7);
$color1-butons-container:rgb(161, 214, 255);

$color2:#172048;
$color3:#5A6378;
$color4:#F8F8F8;
$color5:#0E1531;
$color6:#353F5B;
