.modalOverlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.591);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalContainer{
    padding: 2rem;
    background-color: rgba(0, 3, 156, 0.742);
    box-shadow:0 0 0.4rem 0.4rem rgba(0, 0, 0, 0.241) ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    border-radius: 1rem;
}
.modalTitle{
    border: none;
    background: none;
    outline: none;
    color: white;
    margin-bottom: 1rem;
    &::placeholder{
        color: white;
    }
    &:focus{
        background-color: rgba(240, 248, 255, 0.3);
        border-radius: 10px;
        color: white;
    }
}

.modalDescription{
    border: none;
    background: none;
    outline: none;
    color: white;
    resize: none;
    padding-bottom: 3rem;
    margin-bottom: 1rem;
    &::placeholder{
        color: white;
    }
    &:focus{
        background-color: rgba(240, 248, 255, 0.3);
        border-radius: 10px;
        color: white;
    }
}
.modalSelect{
    border: none;
    background: none;
    outline: none;
    color: white;
    cursor: pointer;
}
.modalFooter{
    display: flex;
    justify-content: space-between;
}
.modalButtons{
    flex-grow: 0.2;
    display: flex;
    gap: 0.5rem;
    justify-content: space-evenly;  
}
.cancelBtn{
    padding: 0.7rem;
    border-radius: 1rem;
    border: none;
    background-color: rgba(255, 0, 51, 0.600);
    color: white;
    cursor: pointer;
}
.confirmBtn{
    padding: 0.7rem;
    border-radius: 1rem;
    border: none;
    background-color: rgba(3, 148, 3, 0.6);
    color: white;
    cursor: pointer;
}
