.boards-container {
  margin: 0 auto;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.boards-container .board {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.boards-container .board__header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgb(44, 137, 208);
}
.boards-container .board__header-title {
  position: relative;
  color: white;
  padding-left: 1.7rem;
  font-size: 1.5rem;
  opacity: 0.9;
}
.boards-container .board__header-title::before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0;
  width: 1rem;
  height: 1rem;
  background: url("../assets/icons/boards-icon.svg") center/contain no-repeat;
  opacity: 0.8;
}
.boards-container .board__menu-button {
  width: 1.5rem;
  height: 1rem;
  background: url("../assets/icons/menu-icon.svg") center/contain no-repeat;
}
.boards-container .board__panels-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}