.modal-confirm__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  padding-top: 2rem;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-confirm__container {
  padding: 2rem;
  background-color: rgba(0, 3, 156, 0.742);
  -webkit-box-shadow: 0 0 0.4rem 0.4rem rgba(0, 0, 0, 0.241);
          box-shadow: 0 0 0.4rem 0.4rem rgba(0, 0, 0, 0.241);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
  border-radius: 1rem;
}

.modal-confirm__Message {
  color: aliceblue;
}

.modal-edit__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}